<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
      <div class="container-nav ">
         {{>navbar}}
         <div class="content">
          <div class="texts">
            <div class="definition">
              <p class="topic">Number System:</p>
              <p class="def">A number system is defined as a system of writing to express numbers.</p>
            </div>
          <p class="readtxt">There are various types of number system in mathematics. The four most common number systems.......</p>
          <a href="/read"><button type="button"  class="readmore">Read More</button></a>

          <div class="convertdiv">
            <p class="converttxt">Or, you just want to convert numbers from one system to another.. </p>
            <a href="/convert"><button class="convertbtn"><i class="fas fa-cog"></i>Click Here</button></a>
          </div>
         </div>

      </div>
       {{>footer}}
  
    </div>
    
       <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{>links}}
  </body>
</html>