<!doctype html>
<html lang="en">
  <head>
     {{>head}}
  </head>
  <body>
      <div class="container-nav ">
         {{>navbar}}
             <div class="info-content">
                 <div class="info-def">
                     <p>There are various types of number system in mathematics. The four most common number system types are:</p>
                     <ul>
                         <li>Decimal number system</li>
                         <li>Binary number system</li>
                         <li>Octal number system</li>
                         <li>Hexadecimal number system</li>
                     </ul>
                 </div>
                 <div class="info-detail">
                     <div class="left">
                       <p><span>Binary: </span> Base is 2.<br>
                        Only two binary digits exist, i.e., 0 and 1.<br>
                        Example:  (1101)<span>2</span>, (10011)<span>2</span>
                       </p>
                       <p><span>Octal: </span>Base is 8.<br>
                         Octal number system uses 8 digits: 0,1,2,3,4,5,6,7. <br>
                         Example: (723)<span>8</span> , (56)<span>8</span>
                        </p>
                       <p><span>Decimal: </span>Base is 10.<br>
                      Decimal number system uses 10 digits: 0,1,2,3,4,5,6,7,8,9.<br>
                      Example: (9455)<span>10</span> , (257)<span>10</span>
                    </p>
                       <p><span>Hexadecimal: </span>Base is 16.<br>
                        Hexadecimal number system uses 16 digits: 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F .<br>
                        Example: (2B6D)<span>16</span> , (F8D)<span>16</span>
                    </p>
                     </div>
                     <div class="right">
                            <img class="img-fluid" src="./images/math12.png" alt="">
                     </div>
                 </div>
                <div class="conv-btn">
                    <p>Now, If you want to convert one number system to another, click..</p>
                   <a href="/convert"><button class="con-nowbtn" >Convert Now</button></a> 
                </div>
             </div>           
  



         {{>footer}}
      
        </div>
        
           <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
       {{>links}}
      </body>
    </html>